# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Ambiente Virtual
venv/
.venv/

# Arquivo de configuração do IDE (caso use algum)
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp

# Arquivos do sistema operacional
.DS_Store  # (macOS)
Thumbs.db  # (Windows)

# Arquivo .env para variáveis de ambiente
.env